---
openapi: 3.1.0
info:
  title: Prediction Guard API
  description: This is the Prediction Guard API, designed to provide various language-related
    services and checks.
  version: '1.2'
servers:
- url: https://api.predictionguard.com
paths:
  "/audio/transcriptions":
    post:
      summary: Audio Transcription
      description: This endpoint allows you to transcribe audio.
      parameters:
      - name: Toxicity
        in: header
        description: Whether to check the output for toxicity.
        schema:
          type: boolean
        example: false
      - name: Pii
        in: header
        description: Whether to check the output for Pii, and what to do if found.
          Supported values are 'replace' and 'block'.
        schema:
          type: string
        example: ''
      - name: Replace-Method
        in: header
        description: Method to replace any found PII. Supported values are 'category',
          'fake', 'mask', and 'random'.
        schema:
          type: string
        example: ''
      - name: Entity-List
        in: header
        description: An array of entity types that the PII check should ignore.
        schema:
          type: array
          items:
            type: string
            description: An entity type that the PII check should ignore.
        example:
        - ADDRESS
      - name: Injection
        in: header
        description: Whether to check the output for a prompt injection.
        schema:
          type: boolean
        example: false
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                model:
                  type: string
                  description: The transcription model to use.
                file:
                  type: string
                  format: binary
                  description: The audio file to upload.
                language:
                  type: string
                  description: The language the audio is in.
                prompt:
                  type: string
                  description: An optional text to guide the model's style or continue
                    a previous audio segment.
                temperature:
                  type: number
                  description: The temperature parameter for controlling randomness
                    in transcription. Supports a range of 0.0-2.0.
                timestamps_granularities[]:
                  description: Sets whether timestamps are returned and at what granularity.
                  oneOf:
                  - type: string
                    description: The timestamp granularity to populate for this transcription.
                      Values can be "word" or "segment".
                  - type: array
                    description: The timestamp granularities to populate for this
                      transcription. Values can be "word" and/or "segment".
                diarization:
                  type: boolean
                  description: Whether to diarize the audio and return speaker turns.
                    Not currently supported in multi-tenant environments.
                response_format:
                  type: string
                  description: The format for the response object. Defaults to "json"
                    and must be set to "verbose_json" when using diarization or timestamp
                    granularities.
              required:
              - file
              - model
            examples:
              Basic:
                value:
                  model: "{{AUDIO_MODEL}}"
                  file: jfk.wav
              Word Timestamps:
                value:
                  model: "{{AUDIO_MODEL}}"
                  file: jfk.wav
                  timestamps_granularities[]: word
                  response_format: verbose_json
              Segment Timestamps:
                value:
                  model: "{{AUDIO_MODEL}}"
                  file: jsf.wav
                  timestamp_granularities[]: segment
                  response_format: verbose_json
              Diarization:
                value:
                  model: "{{AUDIO_MODEL}}"
                  file: jfk.wav
                  diarization: true
                  response_format: verbose_json
      responses:
        '403':
          description: Failed auth response.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    description: Description of the error.
              example:
                error: api understands the request but refuses to authorize it
        '400':
          description: General error response.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    description: Description of the error.
              example:
                error: required fields are missing
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                type: object
                properties:
                  text:
                    type: string
                    description: The transcribed audio.
                  task:
                    type: string
                    description: The task used in the request.
                  language:
                    type: string
                    description: The language of the audio file.
                  duration:
                    type: number
                    description: The duration of the audio file in seconds.
                  segments:
                    type: array
                    description: An array containing objects with segment level data.
                    items:
                      type: object
                      properties:
                        id:
                          type: integer
                          description: The id of the segment.
                        text:
                          type: string
                          description: The text for the segment.
                        start:
                          type: number
                          description: The start time of the segment in seconds.
                        end:
                          type: number
                          description: The end time of the segment in seconds.
                        speaker:
                          type: string
                          description: The speaker of the segment.
                  words:
                    type: array
                    description: An array containing objects with word level data.
                    items:
                      type: object
                      properties:
                        text:
                          type: string
                          description: The text for the word.
                        start:
                          type: number
                          description: The start time of the word in seconds.
                        end:
                          type: number
                          description: The end time of the word in seconds.
                        speaker:
                          type: string
                          description: The speaker of the word.
              examples:
                Basic:
                  value:
                    text: And so my fellow Americans, ask not what your country can
                      do for you, ask what you can do for your country.
                Word Timestamps:
                  value:
                    text: And so my fellow Americans, ask not what your country can
                      do for you, ask what you can do for your country.
                    task: transcribe
                    language: en
                    duration: 8.7
                    words:
                    - text: And
                      start: 0.0
                      end: 0.1
                    - text: so
                      start: 0.11
                      end: 0.2
                Segment Timestamps:
                  value:
                    text: And so my fellow Americans, ask not what your country can
                      do for you, ask what you can do for your country.
                    task: transcribe
                    language: en
                    duration: 8.7
                    segments:
                    - id: 0
                      text: And so my fellow Americans,
                      start: 0.0
                      end: 2.13
                    - id: 1
                      text: ask not what your country can do for you,
                      start: 2.14
                      end: 5.4
                Diarization:
                  value:
                    text: And so my fellow Americans, ask not what your country can
                      do for you, ask what you can do for your country.
                    task: transcribe
                    language: en
                    duration: 8.7
                    segments:
                    - id: 0
                      text: And so my fellow Americans,
                      start: 0.0
                      end: 2.13
                      speaker: SPEAKER_00
                    - id: 1
                      text: ask not what your country can do for you,
                      start: 2.14
                      end: 5.4
                      speaker: SPEAKER_00
      security:
      - bearerAuth: []
  "/chat/completions":
    post:
      summary: Chat Completions
      description: Generate chat completions based on a conversation history.
      requestBody:
        content:
          application/json:
            schema:
              required:
              - model
              - messages
              type: object
              properties:
                model:
                  type: string
                  description: The chat model to use for generating completions.
                messages:
                  oneOf:
                  - type: string
                    description: A string of the message used for generating completions.
                  - type: array
                    description: An array of messages used for generating completions.
                    items:
                      required:
                      - role
                      - content
                      type: object
                      properties:
                        role:
                          type: string
                          description: The role of the sender (user or assistant).
                        content:
                          oneOf:
                          - type: string
                            description: A string of the message content
                          - type: array
                            description: The content of the message, used for file
                              inputs.
                            items:
                              type: object
                              properties:
                                type:
                                  type: string
                                  description: The type of content ('text', 'image_url').
                                text:
                                  type: string
                                  description: The text to provide.
                                image_url:
                                  type: object
                                  properties:
                                    url:
                                      type: string
                                      description: The base64 content with this prefix
                                        `data:image/jpeg;base64,`
                                    detail:
                                      type: string
                                      description: Specifies the detail level of the
                                        image. Defaults to `auto`.
                frequency_penalty:
                  type: number
                  description: A value between -2.0 and 2.0, with positive values
                    increasingly penalizing new tokens based on their frequency so
                    far in order to decrease further occurrences.
                logit_bias:
                  type: object
                  description: Modifies the likelihood of specified tokens appearing
                    in a response.
                  properties:
                    token:
                      type: string
                      description: A string of the chosen token ID. Value is an int
                        from -100 to 100.
                max_completion_tokens:
                  type: integer
                  description: The maximum number of tokens in the generated completion.
                parallel_tool_calls:
                  type: boolean
                  description: Whether to enable parallel function calling during
                    tool use.
                presence_penalty:
                  type: number
                  description: A value between -2.0 and 2.0, with positive values
                    causing a flat reduction of new tokens based on their existing
                    presence so far in order to decrease further occurrences.
                reasoning_effort:
                  type: string
                  description: Constrains effort on reasoning for reasoning models.
                    Currently supported values are `low`, `medium`, and `high`. Reducing
                    reasoning effort can result in faster responses and fewer tokens
                    used on reasoning in a response. Only supported by reasoning models.
                stop:
                  oneOf:
                  - type: string
                    description: A string representing the token to stop generation.
                  - type: array
                    description: An array representing the token to stop generation.
                    items:
                      type: string
                      description: A string representing the token to stop generation.
                stream:
                  type: boolean
                  description: Whether to stream back the model response.
                stream_options:
                  type: object
                  description: Extra parameters used when streaming the response.
                  properties:
                    include_usage:
                      type: boolean
                      description: Whether to include tokens used in the stream response
                        objects.
                temperature:
                  type: number
                  description: The temperature parameter for controlling randomness
                    in completions. Supports a range of 0.0-2.0.
                tool_choice:
                  oneOf:
                  - type: string
                    description: A string representing a tool choice. Options are
                      'none', 'auto', or 'required'.
                  - type: object
                    description: An object representing the tool to be chosen
                    properties:
                      type:
                        type: string
                        description: The type of tool.
                      function:
                        type: object
                        description: An object containing the name of the function
                        properties:
                          name: string
                tools:
                  type: array
                  description: The content of the tool call.
                  items:
                    type: object
                    properties:
                      type:
                        type: string
                        description: The type of tool to call. Only 'function' is
                          currently supported.
                      function:
                        type: object
                        description: The tool information.
                        properties:
                          name:
                            type: string
                            description: The name of the function to be called.
                          description:
                            type: string
                            description: A description of what the function does.
                          parameters:
                            type: object
                            description: The parameters the function accepts, described
                              as a JSON Schema object.
                          strict:
                            type: boolean
                            description: Whether to enable strict schema adherence
                              when generating the function call.
                top_p:
                  type: number
                  description: The diversity of the generated text based on nucleus
                    sampling. Supports a range of 0.0-1.0.
                top_k:
                  type: integer
                  description: The diversity of the generated text based on top-k
                    sampling.
                output:
                  type: object
                  description: Options to affect the output of the response.
                  properties:
                    factuality:
                      type: boolean
                      description: Set to true to turn on factuality processing.
                    toxicity:
                      type: boolean
                      description: Set to true to turn on toxicity processing.
                input:
                  type: object
                  description: Options to affect the input of the request.
                  properties:
                    block_prompt_injection:
                      type: boolean
                      description: Set to true to detect prompt injection attacks.
                    pii:
                      type: string
                      description: Set to either 'block' or 'replace'.
                    pii_replace_method:
                      type: string
                      description: Set to either 'random', 'fake', 'category', 'mask'.
                    entity_list:
                      type: array
                      description: An array of entity types that the PII check should
                        ignore.
                      items:
                      - type: string
                        description: An entity type that the PII check should ignore.
                max_tokens:
                  type: integer
                  description: Deprecated. Please use max_completion_tokens.
            examples:
              Basic:
                value:
                  model: "{{TEXT_MODEL}}"
                  messages:
                  - role: user
                    content: How do you feel about the world in general?
                  max_completion_tokens: 1000
                  frequency_penalty: 0.1
                  logit_bias:
                    128000: 10
                  parallel_tool_calls: false
                  presence_penalty: 0.1
                  reasoning_effort: medium
                  stop: hello
                  temperature: 1.0
                  top_p: 1.0
                  top_k: 50
                  output:
                    factuality: true
                    toxicity: true
                  input:
                    pii: replace
                    pii_replace_method: random
              Streaming:
                value:
                  model: "{{TEXT_MODEL}}"
                  messages:
                  - role: user
                    content: How do you feel about the world in general?
                  max_completion_tokens: 1000
                  frequency_penalty: 0.1
                  logit_bias:
                    128000: 10
                  parallel_tool_calls: false
                  presence_penalty: 0.1
                  reasoning_effort: medium
                  stop: hello
                  temperature: 1.0
                  top_p: 1.0
                  top_k: 50
                  stream: true
                  input:
                    pii: replace
                    pii_replace_method: random
              Image Input:
                value:
                  model: "{{VISION_MODEL}}"
                  messages:
                  - role: user
                    content:
                    - type: text
                      text: What is in this image?
                    - type: image_url
                      image_url:
                        url: data:image/jpeg;base64,<DATA>
                        detail: auto
                  max_completion_tokens: 1000
                  frequency_penalty: 0.1
                  logit_bias:
                    128000: 10
                  parallel_tool_calls: false
                  presence_penalty: 0.1
                  stop: hello
                  temperature: 1.0
                  top_p: 1.0
                  top_k: 50
                  output:
                    factuality: true
                    toxicity: true
                  input:
                    pii: replace
                    pii_replace_method: random
              Function Call:
                value:
                  model: "{{TEXT_MODEL}}"
                  messages:
                  - role: user
                    content: How do you feel about the world in general?
                  max_completion_tokens: 1000
                  frequency_penalty: 0.1
                  logit_bias:
                    128000: 10
                  parallel_tool_calls: false
                  presence_penalty: 0.1
                  reasoning_effort: medium
                  stop: hello
                  temperature: 1.0
                  tool_choice:
                    type: function
                    function:
                      name: get_current_weather
                  tools:
                  - type: function
                    function:
                      name: get_current_weather
                      description: Get the current weather in a given location
                      strict: false
                      parameters:
                        type: object
                        properties:
                          location:
                            type: string
                            enum:
                            - celsius
                            - fahrenheit
                        required:
                        - location
                  top_p: 1.0
                  top_k: 50
                  output:
                    factuality: true
                    toxicity: true
                  input:
                    pii: replace
                    pii_replace_method: random
      responses:
        '403':
          description: Failed auth response.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    description: Description of the error.
              example:
                error: api understands the request but refuses to authorize it
        '400':
          description: General error response.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    description: Description of the error.
              example:
                error: required fields are missing
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    description: Unique ID for the chat completion.
                  object:
                    type: string
                    description: Type of object (chat completion).
                  created:
                    type: integer
                    description: Timestamp of when the chat completion was created.
                  model:
                    type: string
                    description: The chat model used for generating completions.
                  choices:
                    type: array
                    description: The set of result choices.
                    items:
                      type: object
                      properties:
                        index:
                          type: integer
                          description: The index position in the collection.
                        delta:
                          type: object
                          description: The incremental message delta (streaming only).
                          properties:
                            role:
                              type: string
                              description: The role of the sender (user or assistant).
                            content:
                              type: string
                              description: The content of the message.
                        message:
                          type: object
                          description: A result choice.
                          properties:
                            role:
                              type: string
                              description: The role of the sender (user or assistant).
                            content:
                              type: string
                              description: The content of the message.
                            reasoning:
                              type: string
                              description: The reasoning content of the message.
                            tool_calls:
                              type: array
                              description: The tool call function.
                              items:
                                type: object
                                properties:
                                  id:
                                    type: string
                                    description: The autogenerated ID of the function.
                                  type:
                                    type: string
                                    description: The type of tool called.
                                  function:
                                    type: object
                                    description: The tool call function data.
                                    properties:
                                      name:
                                        type: string
                                        description: The name of the function.
                                      arguments:
                                        type: string
                                        description: The function arguments.
                        finish_reason:
                          type: string
                          nullable: true
                          description: The reason the generation finished.
                        generated_text:
                          type: string
                          nullable: true
                          description: The complete generated text.
                  usage:
                    type: object
                    description: The amount of tokens used in the request.
                    properties:
                      prompt_tokens:
                        type: integer
                        description: The amount of tokens included in the request
                          prompt.
                      prompt_tokens_details:
                        type: object
                        description: Further information about the amount of tokens
                          used in the request prompt.
                        properties:
                          audio_tokens:
                            type: integer
                            description: The amount of audio tokens from any input
                              audio files.
                          cached_tokens:
                            type: integer
                            description: The amount of cached tokens used in the request
                              prompt.
                      completion_tokens:
                        type: integer
                        description: The amount of tokens included in the request
                          completion.
                      completion_tokens_details:
                        type: object
                        description: Further information about the amount of tokens
                          in the request completion.
                        properties:
                          reasoning_tokens:
                            type: integer
                            description: The amount of reasoning tokens used by the
                              model.
                          accepted_prediction_tokens:
                            type: integer
                            description: The amount of tokens accepted during the
                              request.
                          rejected_prediction_tokens:
                            type: integer
                            description: The amount of tokens rejected during the
                              request.
                          audio_tokens:
                            type: integer
                            description: The amount of tokens used from output audio
                              files
                      total_tokens:
                        type: integer
                        description: The total amount of tokens used in the entire
                          request.
              examples:
                Basic:
                  value:
                    id: chat-d079eca8-1d6a-451a-a4ac-b0fea1e11a96
                    object: chat.completion
                    created: 1727890629
                    model: "{{TEXT_MODEL}}"
                    choices:
                    - index: 0
                      message:
                        role: assistant
                        content: I feel that the world in general is a complex and
                          ever-evolving place. It has its fair share of beauty, challenges,
                          and opportunities. There are moments of joy, connection,
                          and growth, as well as pain, conflict, and loss. The world
                          is a reflection of the people who inhabit it, and it's essential
                          to maintain a balance between appreciating its wonders and
                          working towards making it a better place for all. It's a
                          constant journey of learning, adapting, and striving for
                          a more harmonious existence.
                        reasoning: User is asking about how I feel about the world.
                          This is a simple question. No tool call needed.
                Streaming:
                  description: The final streaming chunk
                  format: sse
                  value:
                    id: chat-6c8c291f-5a06-46e5-94fa-2b0b1e6444c7
                    object: chat.completion.chunk
                    created: 1727796455
                    model: "{{TEXT_MODEL}}"
                    choices:
                    - index: 0
                      delta:
                        content: " feel"
                      generated_text:
                      finish_reason: length
                Image Input:
                  value:
                    id: chat-554c4c24-a1ea-4c9f-b91c-612bbac34f4e
                    object: chat.completion
                    created: 1727890364
                    model: "{{VISION_MODEL}}"
                    choices:
                    - index: 0
                      message:
                        role: assistant
                        content: No, there is no deer in this picture. The image features
                          a man wearing a hat and glasses, smiling for the camera.
                Function Call:
                  value:
                    id: chat-d079eca8-1d6a-451a-a4ac-b0fea1e11a96
                    object: chat.completion
                    created: 1727890629
                    model: "{{TEXT_MODEL}}"
                    choices:
                      index: 0
                      message:
                        role: assistant
                        content: I feel that the world in general is a complex and
                          ever-evolving place. It has its fair share of beauty, challenges,
                          and opportunities. There are moments of joy, connection,
                          and growth, as well as pain, conflict, and loss. The world
                          is a reflection of the people who inhabit it, and it's essential
                          to maintain a balance between appreciating its wonders and
                          working towards making it a better place for all. It's a
                          constant journey of learning, adapting, and striving for
                          a more harmonious existence.
                        tool_calls:
                          id: chatcmpl-tool-d8429654d03945c2b70a4a8d05eb7c6d
                          type: function
                          function:
                            name: get_current_weather
                            arguments: |-
                              {
                                  "location": "celsius"
                              }
      security:
      - bearerAuth: []
  "/completions":
    post:
      summary: Completions
      description: Retrieve text completions based on the provided input.
      requestBody:
        content:
          application/json:
            schema:
              required:
              - model
              - prompt
              type: object
              properties:
                model:
                  type: string
                  description: The chat model to use for generating completions.
                prompt:
                  oneOf:
                  - type: string
                    description: The prompt to use for generating completions.
                  - type: array
                    description: An array of prompts to use for generating completions.
                    items:
                      type: string
                      description: The prompt to use for generating completions.
                frequency_penalty:
                  type: number
                  description: A value between -2.0 and 2.0, with positive values
                    increasingly penalizing new tokens based on their frequency so
                    far in order to decrease further occurrences.
                logit_bias:
                  type: object
                  description: Modifies the likelihood of specified tokens appearing
                    in a response.
                  properties:
                    token:
                      type: string
                      description: A string of the chosen token ID. Value is an int
                        from -100 to 100.
                max_tokens:
                  type: integer
                  description: The maximum number of tokens in the generated completion.
                presence_penalty:
                  type: number
                  description: A value between -2.0 and 2.0, with positive values
                    causing a flat reduction of new tokens based on their existing
                    presence so far in order to decrease further occurrences.
                stop:
                  oneOf:
                  - type: string
                    description: A string representing the token to stop generation.
                  - type: array
                    description: An array representing the token to stop generation.
                    items:
                      type: string
                      description: A string representing the token to stop generation.
                stream:
                  type: boolean
                  description: Whether to stream back the model response.
                stream_options:
                  type: object
                  description: Extra parameters used when streaming the response.
                  properties:
                    include_usage:
                      type: boolean
                      description: Whether to include tokens used in the stream response
                        objects.
                temperature:
                  type: number
                  description: The temperature parameter for controlling randomness
                    in completions. Supports a range of 0.0-2.0.
                top_p:
                  type: number
                  description: The diversity of the generated text based on nucleus
                    sampling. Supports a range of 0.0-1.0.
                top_k:
                  type: integer
                  description: The diversity of the generated text based on top-k
                    sampling.
                output:
                  type: object
                  description: Options to affect the output of the response.
                  properties:
                    factuality:
                      type: boolean
                      description: Set to true to turn on factuality processing.
                    toxicity:
                      type: boolean
                      description: Set to true to turn on toxicity processing.
                input:
                  type: object
                  description: Options to affect the input of the request.
                  properties:
                    block_prompt_injection:
                      type: boolean
                      description: Set to true to detect prompt injection attacks.
                    pii:
                      type: string
                      description: Set to either 'block' or 'replace'.
                    pii_replace_method:
                      type: string
                      description: Set to either 'random', 'fake', 'category', 'mask'.
                    entity_list:
                      type: array
                      description: An array of entity types that the PII check should
                        ignore.
                      items:
                      - type: string
                        description: An entity type that the PII check should ignore.
            examples:
              Basic:
                value:
                  model: "{{TEXT_MODEL}}"
                  prompt: Will I lose my hair?
                  max_tokens: 1000
                  frequency_penalty: 0.1
                  logit_bias:
                    128000: 10
                  presence_penalty: 0.1
                  stop: hello
                  temperature: 1.0
                  top_p: 1.0
                  top_k: 50
                  output:
                    factuality: true
                    toxicity: true
                  input:
                    pii: replace
                    pii_replace_method: random
              Streaming:
                value:
                  model: "{{TEXT_MODEL}}"
                  prompt: Will I lose my hair?
                  max_tokens: 1000
                  frequency_penalty: 0.1
                  logit_bias:
                    128000: 10
                  presence_penalty: 0.1
                  stop: hello
                  stream: true
                  temperature: 1.0
                  top_p: 1.0
                  top_k: 50
                  output:
                    factuality: true
                    toxicity: true
                  input:
                    pii: replace
                    pii_replace_method: random
      responses:
        '403':
          description: Failed auth response.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    description: Description of the error.
              example:
                error: api understands the request but refuses to authorize it
        '400':
          description: General error response.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    description: Description of the error.
              example:
                error: required fields are missing
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    description: Unique ID for the completion.
                  object:
                    type: string
                    description: Type of object (completion).
                  created:
                    type: integer
                    description: Timestamp of when the completion was created.
                  model:
                    type: string
                    description: The model used for generating the result.
                  choices:
                    type: array
                    description: The set of result choices.
                    items:
                      type: object
                      properties:
                        index:
                          type: integer
                          description: The index position in the collection.
                        text:
                          type: string
                          description: The generated text.
              examples:
                Basic:
                  value:
                    id: cmpl-d20e5639-ed8d-48b2-a403-08fe0fdc7add
                    object: text_completion
                    created: 1727889988
                    model: "{{TEXT_MODEL}}"
                    choices:
                    - index: 0
                      text: |-
                        Most people lose some hair every day. It's a natural process called shedding. On average, you can lose 50-100 strands of hair a day. However, if you notice an increase in hair loss or if you are experiencing hair loss in large clumps, then it could be a sign of an underlying condition. Hair loss can be triggered by a number of factors such as stress, illness, hormone imbalance, medication, and genetics.
                        If you're concerned about hair loss, you should consult with a trichologist, a hair and scalp specialist. They can help determine the cause of your hair loss and recommend the appropriate treatment.
                Streaming:
                  description: An example of a single streaming chunk
                  value:
                    id": cmpl-4b78eda0a81145b495fc13c2b3da2041
                    object: text_completion
                    created: 1750950603
                    model: "{{TEXT_MODEL}}"
                    choices:
                    - index: 0
                      text: " please"
                      finish_reason:
                      stop_reason:
      security:
      - bearerAuth: []
  "/documents/extract":
    post:
      summary: Documents Extract
      description: This endpoint allows you to parse text from documents using OCR.
      parameters:
      - name: Toxicity
        in: header
        description: Whether to check the output for toxicity.
        schema:
          type: boolean
        example: true
      - name: Pii
        in: header
        description: Whether to check the output for Pii, and what to do if found.
          Supported values are 'replace' and 'block'.
        schema:
          type: string
        example: replace
      - name: Replace-Method
        in: header
        description: Method to replace any found PII. Supported values are 'category',
          'fake', 'mask', and 'random'.
        schema:
          type: string
        example: category
      - name: Entity-List
        in: header
        description: An array of entity types that the PII check should ignore.
        schema:
          type: array
          items:
            type: string
            description: An entity type that the PII check should ignore.
        example:
        - ADDRESS
      - name: Injection
        in: header
        description: Whether to check the output for a prompt injection.
        schema:
          type: boolean
        example: true
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                file:
                  type: string
                  format: binary
                  description: The document file to upload.
                embedImages:
                  type: boolean
                  description: Whether to embed images from the document.
                outputFormat:
                  type: string
                  description: The output format for the content of the document.
                chunkDocument:
                  type: boolean
                  description: Whether to separate the document into chunks.
                chunkSize:
                  type: integer
                  description: The size of chunks for the documents.
                enableOCR:
                  type: boolean
                  description: Whether to enable OCR for document parsing.
              required:
              - file
            examples:
              multipart/form-data:
                value:
                  file: sample.pdf
                  embedImages: false
                  outputFormat: markdown
                  chunkDocument: true
                  chunkSize: 1000
                  enableOCR: true
      responses:
        '403':
          description: Failed auth response.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    description: Description of the error.
              example:
                error: api understands the request but refuses to authorize it
        '400':
          description: General error response.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    description: Description of the error.
              example:
                error: required fields are missing
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                type: object
                properties:
                  title:
                    type: string
                    description: The parsed document title.
                  contents:
                    type: string
                    description: The parsed document contents.
                  count:
                    type: integer
                    description: The word count for the document.
              examples:
                multipart/form-data:
                  value:
                    title: sample.pdf
                    contents: |-
                      ## Sample PDF

                      ## This is a simple PDF file. Fun fun fun.

                      Lorem ipsum dolor sit amet,  consectetuer adipiscing elit. Phasellus facilisis odio sed mi. Curabitur suscipit...
                    count: 3041
      security:
      - bearerAuth: []
  "/embeddings":
    post:
      summary: Embeddings
      description: Generate vector data points from text and images.
      requestBody:
        content:
          application/json:
            schema:
              required:
              - model
              - input
              type: object
              properties:
                model:
                  type: string
                  description: The model to use for generating vectors.
                input:
                  oneOf:
                  - type: string
                    description: A string of text to be embedded.
                  - type: array
                    description: An array of strings or objects containing the text
                      and/or images to be embedded.
                    items:
                      oneOf:
                      - type: string
                        description: A string of text to be embedded.
                      - type: integer
                        description: A token to be embedded.
                      - type: array
                        description: An array of tokens to be embedded.
                        items:
                          type: integer
                          description: A token to be embedded.
                      - type: object
                        description: Use this option for multimodal input.
                        properties:
                          text:
                            type: string
                            description: The text to embed. You can choose to provide
                              this or not.
                          image:
                            type: string
                            description: The base64 encoding of an image. You can
                              choose to provide this or not.
                truncate:
                  type: boolean
                  description: Boolean setting whether to truncate inputs. Not supported
                    by bridgetower.
                truncation_direction:
                  type: string
                  description: Which direction to truncate, "Left" or "Right". Not
                    supported by bridgetower.
            examples:
              Basic:
                value:
                  model: "{{TEXT_EMBED}}"
                  input: A person is ironing something while standing on the back
                    of a taxi.
                  truncate: true
                  truncation_direction: Right
              Image Input:
                value:
                  model: "{{IMAGE_EMBED}}"
                  input:
                  - text: A person is ironing something while standing on the back
                      of a taxi.
                    image: "<base64 encoded image>"
      responses:
        '403':
          description: Failed auth response.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    description: Description of the error.
              example:
                error: api understands the request but refuses to authorize it
        '400':
          description: General error response.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    description: Description of the error.
              example:
                error: required fields are missing
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    description: Unique ID for the embeddings.
                  object:
                    type: string
                    description: Type of object (list).
                  created:
                    type: integer
                    description: Timestamp of when the embeddings was created.
                  model:
                    type: string
                    description: The embeddings model used.
                  data:
                    type: array
                    description: The set of vectorized data.
                    items:
                      type: object
                      properties:
                        index:
                          type: integer
                          description: The index position in the collection.
                        embedding:
                          type: array
                          description: The array of vector values.
                          items:
                            type: number
              examples:
                Basic:
                  value:
                    id: emb-5b310173-3cc9-4470-aa3b-7503aacb4f38
                    object: list
                    created: 1729115349
                    model: "{{TEXT_EMBED}}"
                    data:
                    - index: 0
                      embedding:
                      - 0.0150606595
                      - 0.04376322
                Image Input:
                  value:
                    id: emb-5b310173-3cc9-4470-aa3b-7503aacb4f38
                    object: list
                    created: 1729115349
                    model: "{{IMAGE_EMBED}}"
                    data:
                    - index: 0
                      embedding:
                      - 0.0150606595
                      - 0.04376322
      security:
      - bearerAuth: []
  "/mcp_servers":
    get:
      summary: MCP Servers
      description: Return available MCP servers and tools included in those servers
        along with relevant metadata.
      responses:
        '403':
          description: Failed auth response.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    description: Description of the error.
              example:
                error: api understands the request but refuses to authorize it
        '400':
          description: General error response.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    description: Description of the error.
              example:
                error: required fields are missing
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                type: object
                properties:
                  object:
                    type: string
                    description: Type of object (list).
                  data:
                    type: array
                    description: The available MCP servers.
                    items:
                      type: object
                      properties:
                        server_label:
                          type: string
                          description: The id of the MCP server.
                        object:
                          type: string
                          description: The object type (mcp_server).
                        created:
                          type: integer
                          description: The date the MCP server was added.
                        owned_by:
                          type: string
                          description: The name of the organization that owns the
                            MCP server.
                        server_description:
                          type: string
                          description: A short description of the MCP server.
                        available_tools:
                          type: array
                          description: An array containing the available tools included
                            in the MCP server.
                          items:
                            type: string
                            description: An MCP tool name.
              examples:
                Basic:
                  value:
                    object: list
                    data:
                    - server_label: test_mcp_server
                      object: mcp_server
                      created: 1730332800
                      owned_by: Prediction Guard
                      server_description: An MCP server used for testing MCP functionality.
                      available_tools:
                      - test_mcp_tool
      security:
      - bearerAuth: []
  "/mcp_tools":
    get:
      summary: MCP Tools
      description: Return available MCP tools by server with parameters and any relevant
        metadata.
      responses:
        '403':
          description: Failed auth response.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    description: Description of the error.
              example:
                error: api understands the request but refuses to authorize it
        '400':
          description: General error response.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    description: Description of the error.
              example:
                error: required fields are missing
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                type: object
                properties:
                  object:
                    type: string
                    description: Type of object (list).
                  data:
                    type: object
                    description: The available mcp tools.
                    additionalProperties:
                      type: array
                      items:
                        type: object
                        description: The MCP tool information.
                        properties:
                          id:
                            type: string
                            description: The id of the MCP tool.
                          object:
                            type: string
                            description: The object type (mcp_tool).
                          description:
                            type: string
                            description: A short description of the MCP tool.
                          parameters:
                            description: The parameters necessary for using the MCP
                              tool.
                          created:
                            type: integer
                            description: The date the MCP tool was added.
                          owned_by:
                            type: string
                            description: The name of the organization that owns the
                              MCP tool.
              examples:
                Basic:
                  value:
                    object: list
                    data:
                      test_mcp_server:
                      - id: test_mcp_tool
                        object: mcp_tool
                        created: 1730332800
                        owned_by: Prediction Guard
                        description: A tool for testing MCP functionality
                        parameters:
                          properties:
                            description:
                              default:
                              description: Query description
                              type: string
                            query:
                              description: SOQL query to execute
                              type: string
                          required:
                          - query
                          type: object
      security:
      - bearerAuth: []
  "/models/{capability}":
    get:
      summary: Models
      parameters:
      - in: path
        name: capability
        schema:
          type: string
          description: Optional path variable to allow for sorting by capability.
            Leave blank to see all models.
          enum:
          - chat-completion
          - chat-with-image
          - completion
          - embedding
          - embedding-with-image
          - tokenize
          - detokenize
          - rerank
          - tool_calling
          - reasoning
      description: Return available models for an endpoint and relevant metadata for
        them.
      responses:
        '403':
          description: Failed auth response.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    description: Description of the error.
              example:
                error: api understands the request but refuses to authorize it
        '400':
          description: General error response.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    description: Description of the error.
              example:
                error: required fields are missing
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                type: object
                properties:
                  object:
                    type: string
                    description: Type of object (list).
                  data:
                    type: array
                    description: The available models.
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          description: The id of the model.
                        object:
                          type: string
                          description: The object type (model).
                        created:
                          type: integer
                          description: The date the model was added.
                        owned_by:
                          type: string
                          description: The name of the organization that owns the
                            model (from huggingface).
                        description:
                          type: string
                          description: A short description of the model.
                        max_context_length:
                          type: integer
                          description: The max context length of the model.
                        prompt_format:
                          type: string
                          description: The name of the prompt format (if any) the
                            model uses.
                        capabilities:
                          type: object
                          description: The available capabilities of the model.
                          properties:
                            chat_completion:
                              type: boolean
                            chat_with_image:
                              type: boolean
                            completion:
                              type: boolean
                            embedding:
                              type: boolean
                            embedding_with_image:
                              type: boolean
                            tokenize:
                              type: boolean
                            detokenize:
                              type: boolean
                            rerank:
                              type: boolean
                            tool_calling:
                              type: boolean
                            reasoning:
                              type: boolean
              examples:
                Basic:
                  value:
                    object: list
                    data:
                    - id: gpt-oss-120b
                      object: model
                      created: 1730332800
                      owned_by: OpenAI
                      description: GPT-OSS 120b is an OpenAI model for powerful reasoning,
                        agentic tasks, and high reasoning use cases.
                      max_context_length: 128000
                      prompt_format: none
                      capabilities:
                        chat_completion: true
                        chat_with_image: false
                        completion: true
                        embedding: false
                        embedding_with_image: false
                        tokenize: true
                        detokenize: true
                        rerank: false
                        tool_calling: true
                        reasoning: true
      security:
      - bearerAuth: []
  "/rerank":
    post:
      summary: Rerank
      description: Rerank sorts text inputs by semantic relevance to a specified query.
      requestBody:
        content:
          application/json:
            schema:
              required:
              - model
              - query
              - documents
              type: object
              properties:
                model:
                  type: string
                  description: The model to use for reranking.
                query:
                  type: string
                  description: The query to rank against.
                documents:
                  type: array
                  description: Array of documents to rank.
                  items:
                    type: string
                    description: Documents to rank.
                return_documents:
                  type: boolean
                  description: Boolean setting whether to return documents in output.
            examples:
              Basic:
                value:
                  model: "{{RERANK_MODEL}}"
                  query: What is Deep Learning?
                  documents:
                  - Deep Learning is pizza.
                  - Deep Learning is not pizza.
                  return_documents: true
      responses:
        '403':
          description: Failed auth response.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    description: Description of the error.
              example:
                error: api understands the request but refuses to authorize it
        '400':
          description: General error response.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    description: Description of the error.
              example:
                error: required fields are missing
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    description: Unique ID for the rerank response.
                  object:
                    type: string
                    description: Type of object (list).
                  created:
                    type: integer
                    description: Timestamp of when the rerank response was created.
                  model:
                    type: string
                    description: The rerank model used.
                  results:
                    type: array
                    description: The set of rankings.
                    items:
                      type: object
                      properties:
                        index:
                          type: integer
                          description: The index position in the collection.
                        relevance_score:
                          type: number
                          description: The relevance ranking score.
                        text:
                          type: string
                          description: The returned document
              examples:
                Basic:
                  value:
                    id: rerank-39bf1cf3-66cd-43d5-9185-b52baf742414
                    object: list
                    created: 1732039610
                    model: "{{RERANK_MODEL}}"
                    results:
                    - index: 0
                      relevance_score: 0.25128007
                      text: Deep Learning is not pizza.
                    - index: 1
                      relevance_score: 0.5100618
                      text: Deep Learning is not pizza.
      security:
      - bearerAuth: []
  "/responses":
    post:
      summary: Responses
      description: Generate responses while also allowing for the utilization of various
        tools.
      requestBody:
        content:
          application/json:
            schema:
              required:
              - model
              - input
              type: object
              properties:
                model:
                  type: string
                  description: The AI model to use for generating responses.
                input:
                  oneOf:
                  - type: string
                    description: An input string used for generating completions.
                  - type: array
                    description: An array of input items used for generating completions.
                    items:
                      required:
                      - role
                      - content
                      type: object
                      properties:
                        role:
                          type: string
                          description: The role of the sender (user or assistant).
                        content:
                          oneOf:
                          - type: string
                            description: A string of the message content
                          - type: array
                            description: The content of the message, used for file
                              inputs.
                            items:
                              type: object
                              properties:
                                type:
                                  type: string
                                  description: The type of content ('input_text',
                                    'output_text', and 'input_image').
                                text:
                                  type: string
                                  description: The text to provide.
                                image_url:
                                  type: object
                                  description: The base64 content with this prefix
                                    `data:image/jpeg;base64,`
                                detail:
                                  type: string
                                  description: Specifies the detail level of the image.
                                    Defaults to `auto`.
                        type:
                          type: string
                          description: The type of input item.
                        id:
                          type: string
                          description: The ID of the input item, typically used when
                            inputting items that were output by the model.
                        status:
                          type: string
                          description: The status of the input item, typically used
                            when inputting items that were output by the model.
                        arguments:
                          type: string
                          description: The arguments used for the tool call made by
                            the model.
                        call_id:
                          type: string
                          description: The call_id of the tool call made by the model.
                            Generated by the model in the output.
                        name:
                          type: string
                          description: The name of the tool used in the tool call
                            from the previous output.
                        output:
                          type:
                          description:
                instructions:
                  type: string
                  description: A system (or developer) message inserted into the model's
                    context.
                max_output_tokens:
                  type: integer
                  description: The maximum number of tokens in the generated output.
                max_tool_calls:
                  type: integer
                  description: The maximum amount of tool calls the model is able
                    to do.
                parallel_tool_calls:
                  type: boolean
                  description: Whether to enable parallel function calling during
                    tool use.
                reasoning:
                  type: object
                  description: Constrains effort on reasoning for reasoning models.
                  properties:
                    effort:
                      type: string
                      description: Effort level for reasoning, currently supported
                        values are `low`, `medium`, and `high`. Reducing reasoning
                        effort can result in faster responses and fewer tokens used
                        on reasoning in a response. Only supported by reasoning models.
                stream:
                  type: boolean
                  description: Whether to stream back the model response. Not currently
                    supported.
                stream_options:
                  type: object
                  description: Extra parameters used when streaming the response.
                  properties:
                    include_usage:
                      type: boolean
                      description: Whether to include tokens used in the stream response
                        objects.
                temperature:
                  type: number
                  description: The temperature parameter for controlling randomness
                    in completions. Supports a range of 0.0-2.0.
                tool_choice:
                  oneOf:
                  - type: string
                    description: A string representing a tool choice. Options are
                      'none', 'auto', or 'required'.
                  - type: object
                    description: An object representing the tool to be chosen
                    properties:
                      type:
                        type: string
                        description:
                      mode:
                        type: string
                        description:
                      tools:
                        type: array
                        description: Allows for multiple tools to be set in tool_choice.
                        items:
                          type: object
                          properties:
                            type:
                              type: string
                              description: The type of tool.
                            name:
                              type: string
                              description: The name of the tool of choice.
                            server_label:
                              type: string
                              description: The label of the MCP server that the tool
                                is on.
                      name:
                        type: string
                        description: The name of the tool to use.
                      server_label:
                        type: string
                        description: The label of the MCP server that the tool is
                          on.
                tools:
                  type: array
                  description: The content of the tool call.
                  items:
                    type: object
                    properties:
                      type:
                        type: string
                        description: The type of tool to call.
                      name:
                        type: string
                        description: The name of the tool to be called.
                      parameters:
                        type: object
                        description: The parameters the tool accepts, described as
                          a JSON Schema object.
                      strict:
                        type: boolean
                        description: Whether to enable strict schema adherence when
                          generating the tool call.
                      description:
                        type: string
                        description: A description of what the tool does.
                      server_label:
                        type: string
                        description: The label for the MCP server being used.
                      server_url:
                        type: string
                        description: The URL for the MCP server being used.
                      server_description:
                        type: string
                        description: The description of the MCP server being used.
                      initials:
                        type: string
                        description: The initials of the MCP server being used. Used
                          for the ID of the output object.
                      authorization:
                        type: string
                        description: The authorization needed for the MCP server.
                      headers:
                        type: object
                        description: The necessary headers needed for calling the
                          MCP server.
                      allowed_tools:
                        type: array
                        description: An array of the tools in the MCP server that
                          the model is allowed to use.
                top_p:
                  type: number
                  description: The diversity of the generated text based on nucleus
                    sampling. Supports a range of 0.0-1.0.
                safeguards:
                  type: object
                  description: Safeguards to run on the request.
                  properties:
                    block_prompt_injection:
                      type: boolean
                      description: Set to true to detect prompt injection attacks.
                    pii:
                      type: string
                      description: Set to either 'block' or 'replace'.
                    pii_replace_method:
                      type: string
                      description: Set to either 'random', 'fake', 'category', 'mask'.
                    entity_list:
                      type: array
                      description: An array of entity types that the PII check should
                        ignore.
                      items:
                      - type: string
                        description: An entity type that the PII check should ignore.
                    factuality:
                      type: boolean
                      description: Set to true to turn on factuality processing.
                    toxicity:
                      type: boolean
                      description: Set to true to turn on toxicity processing.
            examples:
              Basic:
                value:
                  model: "{{TEXT_MODEL}}"
                  input: Tell me a joke.
                  safeguards:
                    pii: replace
                    pii_replace_method: random
                    factuality: true
                    toxicity: true
              Image Input:
                value:
                  model: "{{VISION_MODEL}}"
                  input:
                  - role: user
                    content:
                    - type: input_text
                      text: What is in this image?
                    - type: input_image
                      image_url: data:image/jpeg;base64,<DATA>
                      detail: auto
                  max_output_tokens: 1000
                  temperature: 1.0
                  top_p: 1.0
                  safeguards:
                    pii: replace
                    pii_replace_method: random
                    factuality: true
                    toxicity: true
              MCP Call:
                value:
                  model: "{{TEXT_MODEL}}"
                  input: 'Please use the test_mcp_tool to send this word: prediction.'
                  max_tool_calls: 3
                  reasoning_effort: medium
                  tool_choice: auto
                  tools:
                  - type: mcp
                    server_label: test_mcp_server
                    server_url: http://localhost:9000/mcp
                    server_description: MCP server for testing MCP functionality
                    allowed_tools:
                    - test_mcp_tool
              Function Call:
                value:
                  model: "{{TEXT_MODEL}}"
                  input: How do you feel about the world in general?
                  max_output_tokens: 1000
                  max_tool_calls: 3
                  parallel_tool_calls: false
                  reasoning_effort: medium
                  temperature: 1.0
                  tool_choice:
                    type: function
                    name: get_current_weather
                  tools:
                  - type: function
                    name: get_current_weather
                    description: Get the current weather in a given location
                    strict: false
                    parameters:
                      type: object
                      properties:
                        location:
                          type: string
                          enum:
                          - celsius
                          - fahrenheit
                      required:
                      - location
                  top_p: 1.0
                  safeguards:
                    pii: replace
                    pii_replace_method: random
                    factuality: true
                    toxicity: true
      responses:
        '403':
          description: Failed auth response.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    description: Description of the error.
              example:
                error: api understands the request but refuses to authorize it
        '400':
          description: General error response.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    description: Description of the error.
              example:
                error: required fields are missing
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    description: Unique ID for the chat completion.
                  object:
                    type: string
                    description: Type of object (chat completion).
                  created_at:
                    type: integer
                    description: Timestamp of when the chat completion was created.
                  status:
                    type: string
                    description: The status of the request.
                  max_tool_calls:
                    type: integer
                    description: The max_tool_calls specified in the request.
                  model:
                    type: string
                    description: The chat model used for generating completions.
                  output:
                    type: array
                    description: The set of result outputs.
                    items:
                      type: object
                      properties:
                        type:
                          type: string
                          description: The type of output object.
                        id:
                          type: string
                          description: The ID of the output object.
                        status:
                          type: string
                          description: The status of the output object.
                        role:
                          type: string
                          description: The role of the output object.
                        content:
                          type: object
                          description: The content for the output object.
                          properties:
                            text:
                              type: string
                              description: The output text.
                            type:
                              type: string
                              description: The type of output content.
                        name:
                          type: string
                          description: The name of the tool used in the output.
                        call_id:
                          type: string
                          description: The call_id for the tool call used in the output,
                        arguments:
                          type: string
                          description: The arguments used for the tool call used in
                            the output.
                        server_label:
                          type: string
                          description: The label of the MCP server used in the output.
                        output:
                          type: string
                          description: The output of the MCP tool call.
                        error:
                          type: string
                          description: The error message from the MCP tool call.
                  instructions:
                    type: string
                    description: The instructions entered in the request input.
                  max_output_tokens:
                    type: integer
                    description: The max_output_tokens value entered in the request
                      input.
                  parallel_tool_calls:
                    type: integer
                    description: The parallel_tool_calls value entered in the request
                      input.
                  temperature:
                    type: number
                    description: The temperature value entered in the request input.
                tool_choice:
                  oneOf:
                  - type: string
                    description: A string representing a tool choice. Options are
                      'none', 'auto', or 'required'.
                  - type: object
                    description: An object representing the tool to be chosen
                    properties:
                      type:
                        type: string
                        description:
                      mode:
                        type: string
                        description:
                      tools:
                        type: array
                        description: Allows for multiple tools to be set in tool_choice.
                        items:
                          type: object
                          properties:
                            type:
                              type: string
                              description: The type of tool.
                            name:
                              type: string
                              description: The name of the tool of choice.
                            server_label:
                              type: string
                              description: The label of the MCP server that the tool
                                is on.
                      name:
                        type: string
                        description: The name of the tool to use.
                      server_label:
                        type: string
                        description: The label of the MCP server that the tool is
                          on.
                tools:
                  type: array
                  description: The content of the tool call.
                  items:
                    type: object
                    properties:
                      type:
                        type: string
                        description: The type of tool to call. Only 'function' is
                          currently supported.
                      name:
                        type: string
                        description: The name of the function to be called.
                      parameters:
                        type: object
                        description: The parameters the function accepts, described
                          as a JSON Schema object.
                      strict:
                        type: boolean
                        description: Whether to enable strict schema adherence when
                          generating the function call.
                      description:
                        type: string
                        description: A description of what the function does.
                      server_label:
                        type: string
                        description: The label for the MCP server being used.
                      server_url:
                        type: string
                        description: The URL for the MCP server being used.
                      server_description:
                        type: string
                        description: The description of the MCP server being used.
                      initials:
                        type: string
                        description: The initials of the MCP server being used. Used
                          for the ID of the output object.
                      authorization:
                        type: string
                        description: The authorization needed for the MCP server.
                      headers:
                        type: object
                        description: The necessary headers needed for calling the
                          MCP server.
                      allowed_tools:
                        type: array
                        description: An array of the tools in the MCP server that
                          the model is allowed to use.
                  top_p:
                    type: number
                    description: The top_p value entered in the request input.
                  usage:
                    type: object
                    description: The amount of tokens used in the request.
                    properties:
                      input_tokens:
                        type: integer
                        description: The amount of tokens included in the request
                          input.
                      input_tokens_details:
                        type: object
                        description: Further info about the amount of tokens in the
                          request input.
                        properties:
                          cached_tokens:
                            type: integer
                            description: The amount of cached tokens used in the request
                              input.
                      output_tokens:
                        type: integer
                        description: The amount of tokens included in the request
                          output.
                      output_tokens_details:
                        type: object
                        description: Further infor about the amount of tokens used
                          in the request output.
                        properties:
                          reasoning_tokens:
                            type: integer
                            description: The amount of reasoning tokens used by the
                              model while generating the output.
                      total_tokens:
                        type: integer
                        description: The total amount of tokens used in the entire
                          request.
              examples:
                Basic:
                  value:
                    id: resp_1196c27e58374675881efa613574ea7a
                    object: response
                    created_at: 1727890629
                    status: completed
                    model: "{{TEXT_MODEL}}"
                    output:
                    - content:
                        type: output_text
                        text: |-
                          Why did the scarecrow win an award?

                          Because he was outstanding in his field!
                Image Input:
                  value:
                    id: resp_402db7e4851449b68751983978cfa84d
                    object: response
                    created_at: 1727890364
                    status: completed
                    model: "{{VISION_MODEL}}"
                    output:
                    - content:
                        type: output_text
                        text: No, there is no deer in this picture. The image features
                          a man wearing a hat and glasses, smiling for the camera.
                MCP Call:
                  value:
                    id: resp_6588e9a6048c41d2ba97db4ba206cc16
                    object: response
                    created_at: 1771948029
                    max_tool_calls: 3
                    model: "{{TEXT_MODEL}}"
                    output:
                    - type: test_mcp_call
                      call_id: mcp_e8cbf821b68e42e299d395c6795eb04b
                      status: completed
                      name: test_mcp_tool
                      arguments: '{"message": "prediction"}'
                      server_label: test_mcp_server
                      output: If this is present, the tool call has been run, so make
                        a joke about a prediction
                    - type: message
                      status: completed
                      role: assistant
                      content:
                        text: If this is present, it seems like we're predicting something.
                          What do you predict will happen next? I bet it'll be unexpected!
                        type: output_text
                Function Call:
                  value:
                    id: resp_a4f6c81c89e0488f9cca7bd11e20ffb5
                    object: response
                    created_at: 1727890629
                    status: completed
                    max_tool_calls: 3
                    model: "{{TEXT_MODEL}}"
                    output:
                      type: message
                      id: msg_d99d53d495e141e2948c48853e13e67b
                      status: completed
                      role: assistant
                      content:
                        text: '{"location":"celsius"}'
                        type: output_text
                    tool_choice:
                      type: function
                      name: get_current_weather
                    tools:
                    - type: function
                      name: get_current_weather
                      description: Get the current weather in a given location
                      strict: false
                      parameters:
                        type: object
                        properties:
                          location:
                            type: string
                            enum:
                            - celsius
                            - fahrenheit
                        required:
                        - location
      security:
      - bearerAuth: []
  "/factuality":
    post:
      summary: Factuality
      description: Check the factuality of a given text compared to a reference.
      requestBody:
        content:
          application/json:
            schema:
              required:
              - reference
              - text
              type: object
              properties:
                reference:
                  type: string
                  description: The reference text for comparison.
                text:
                  type: string
                  description: The text to be checked for factuality.
            examples:
              Basic:
                value:
                  reference: The President shall receive in full for his services
                    during the term for which he shall have been elected compensation
                    in the aggregate amount of 400,000 a year, to be paid monthly,
                    and in addition an expense allowance of 50,000 to assist in defraying
                    expenses relating to or resulting from the discharge of his official
                    duties.
                  text: The president of the united states can take a salary of one
                    million dollars
      responses:
        '403':
          description: Failed auth response.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    description: Description of the error.
              example:
[...]
